@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Kaushan+Script&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}